@import "tailwindcss";

@theme {
  --color-midcurrent-navy: #000e1f;
  --color-deep-cobalt: #0000c5;
  --color-twilight-slate: #1a2635;
  --color-graphite: #000000;
  --color-paper-white: #ffffff;
  --color-morning-mist: #f4f4f4;
  --color-cloud-veil: #e6e7e9;
  --color-soft-stone: #dcdddf;
  --color-slate-gray: #666e79;
  --color-sunbeam: #fff48d;

  --font-sans:
    "GT Walsheim Pro", "Outfit", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-morning-mist);
  color: var(--color-midcurrent-navy);
  font-family: var(--font-sans);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
